.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.expand-hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.expand-hover:hover,
.expand-hover:focus,
.expand-hover:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.copyright {
  width: 100%;
  padding: 8px 100px;
  background: #ece8d7;
}

.copyright p {
  font-family: "Baloo Bhai 2", curs;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 991px) {
  .copyright {
    padding: 8px 40px;
  }
}

.nav-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px dashed #F6E300;
  margin: 14px 98px 20px;
  padding: 0 15px;
}

.nav-upper .nav-hamburger {
  display: none;
}

.nav-upper .nav-hamburger-menu {
  display: none;
}

.nav-upper .nav-logo img {
  width: 60px;
  height: 70px;
}

.nav-upper .nav-search {
  position: relative;
}

.nav-upper .nav-search .searchbox {
  padding: 20px;
  width: 300px;
  height: 49px;
  border-start-start-radius: 10px;
  border-end-start-radius: 10px;
  background-color: #F8F8F8;
  border: none;
}

.nav-upper .nav-search .clear {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 65px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-upper .nav-search .clear::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background-color: #999;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-upper .nav-search .clear::after {
  position: absolute;
  content: '';
  width: 1px;
  height: 15px;
  background-color: #999;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.nav-upper .nav-search .searchbutton {
  background-color: #F6E300;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 50px;
  height: 49px;
  cursor: pointer;
}

.nav-upper .nav-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-upper .nav-shop .cart {
  text-decoration: none;
  color: black;
  margin-right: 5px;
}

.nav-upper .nav-shop .cart .fa, .nav-upper .nav-shop .cart .fa-shopping-cart {
  width: 19px;
  height: 16px;
}

.nav-upper .nav-shop #buy {
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.nav-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 18px 126px 24px 111px;
}

.nav-lower .nav-links a {
  font-size: 14px;
  font-weight: 600;
}

.nav-lower .nav-links a:hover {
  color: #584444;
  border-bottom: 2px solid #6eb36e;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.nav-lower .nav-links a:not(:last-child) {
  margin-right: 38px;
}

.nav-lower .nav-social a:hover {
  color: #584444;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.nav-lower .nav-social a:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 760px) {
  .nav {
    position: relative;
  }
  .nav .nav-upper {
    margin: 20px;
  }
  .nav .nav-lower {
    display: none;
  }
  .nav .open > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav .open > span:nth-child(2) {
    opacity: 0;
  }
  .nav .open > span:last-child {
    -webkit-transform: rotate(-47deg);
            transform: rotate(-47deg);
  }
  .nav .nav-hamburger-menu {
    display: block;
    position: absolute;
    width: calc(100% - 3rem);
    top: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background: #bbb6b6;
    margin-top: 1.5rem;
    padding: 1.625rem;
    border-radius: 5px;
    z-index: 6;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .nav .nav-hamburger-menu a {
    display: block;
    padding: 0.625rem;
    color: #00f9;
    text-align: center;
  }
  .nav .nav-hamburger {
    display: block;
    cursor: pointer;
  }
  .nav .nav-hamburger > span {
    display: block;
    width: 21px;
    height: 4px;
    margin-top: 6px;
    background-color: black;
    border-radius: 7px;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: -3px 2px;
            transform-origin: -3px 2px;
  }
  .nav .nav-hamburger > span:not(:last-child) {
    margin-bottom: 4px;
  }
  .nav .nav-search .searchbox {
    width: 0;
    padding: 0;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .nav .nav-search .clear {
    display: none;
  }
  .nav .nav-search .show {
    display: block;
  }
  .nav .nav-search .active {
    padding: 20px;
    width: 150px;
    overflow: hidden;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .nav .nav-search .searchbutton {
    border-radius: 10px;
  }
  .nav .nav-search .change {
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-width: 370px) {
  .nav-upper {
    padding-left: 0;
  }
}

@media (max-width: 768) {
  .nav-upper .nav-search .active {
    width: 424px;
  }
}

.header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header-main1 {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 578px;
  background: url("../images/headerbackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.header .header-star {
  position: absolute;
  top: 0;
  background: url("../images/stars.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  z-index: 2;
}

.header .baby1 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 480px;
  background-image: url(../images/baby1.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  z-index: 3;
}

.header .baby2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 375px;
  background-image: url("../images/baby2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  z-index: 3;
}

.header-words {
  position: absolute;
  top: 25%;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 401px;
}

.header-words h1 {
  margin: 0 63px;
  text-transform: capitalize;
  font-family: "Baloo Bhai 2", curs;
  font-weight: 700;
  font-size: 42px;
  line-height: 1;
  color: #32355d;
}

.header-words p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header-words #text {
  position: relative;
  width: 161px;
  height: 56px;
  background: #E16D00;
  border: none;
  border-radius: 5px;
  color: #f5f3ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 20px;
  overflow: hidden;
}

.header-words #text h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: left;
}

.header-words #text #arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 56px;
  background-color: #CE6301;
  position: absolute;
  right: 0;
  color: #FF8C1F;
}

@media (max-width: 1365px) {
  .header h1 {
    font-size: 36px;
    margin: 0 20px;
  }
}

@media (max-width: 1330px) {
  .header h1 {
    font-size: 33px;
    margin: 0 98px;
  }
}

@media (max-width: 1291px) {
  .header h1 {
    font-size: 34px;
    margin: 0 71px;
  }
}

@media (max-width: 768px) {
  .header .baby1 {
    display: none;
  }
  .header .header-words {
    margin: 0 10px;
    top: 11%;
  }
  .header h1 {
    margin: 0;
    font-size: 35px;
  }
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/background-category.png");
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.category h2 {
  font-family: "Baloo Bhai 2", curs;
  font-size: 25px;
  font-weight: 700;
  color: #31345C;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.category-f1container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category .item:first-child {
  background-color: #C3E2FF;
}

.category .item:nth-child(2) {
  background-color: #FFF5DC;
}

.category .item:nth-child(3) {
  background-color: #FCDCDD;
}

.category .item:last-child {
  background-color: #CFF69D;
}

.category .item {
  width: 269px;
  height: 275px;
  border-radius: 10px;
}

.category .item:not(:last-child) {
  margin-right: 23px;
}

.category .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.category .dashed1 {
  padding: 42px 21px;
  border: 2px dashed #7dbcf6;
}

.category .dashed2 {
  padding: 42px 21px;
  border: 2px dashed #eece7f;
}

.category .dashed3 {
  padding: 42px 21px;
  border: 2px dashed #fd8c90;
}

.category .dashed4 {
  padding: 42px 21px;
  border: 2px dashed #9df030;
}

.category .next-attribute {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.category .bar {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.category .bar1 {
  background-color: #5bb7f5;
}

.category .bar2 {
  background-color: #959393;
}

.category-f2container {
  margin-top: 75px;
  position: relative;
  width: 1139px;
  height: 400px;
  background-color: #DAD9F8;
  border-radius: 10px;
}

.category .moon {
  position: absolute;
  top: 0;
  width: 100%;
  height: 300px;
  background: url("../images/cloud.png");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 1;
}

.category .baby-towel {
  position: absolute;
  top: -40px;
  right: -21px;
  width: 100%;
  height: 441px;
  background: url("../images/categorybaby.png");
  background-repeat: no-repeat;
  background-position: top right;
  z-index: 2;
}

.category .star {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 300px;
  background: url("../images/categorystar.png");
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 3;
}

.category .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: absolute;
  top: 11%;
  left: 0%;
  padding-right: 560px;
  padding-left: 60px;
  z-index: 5;
}

.category .text h3 {
  font-family: "Baloo Bhai 2", curs;
  font-size: 37px;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
  color: #31355C;
  padding-right: 30%;
  margin-bottom: 0;
}

.category .text p {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
}

.category .text #button {
  position: relative;
  width: 161px;
  height: 56px;
  background: #E11880;
  border: none;
  border-radius: 5px;
  color: #f5f3ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 20px;
  overflow: hidden;
}

.category .text #button h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: left;
}

.category .text #button #arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 56px;
  background-color: #BB156B;
  position: absolute;
  right: 0;
  color: #fff;
}

@media (max-width: 1154px) {
  .category {
    height: 100%;
  }
  .category-f1container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .category-f1container .item:not(:last-child) {
    margin-bottom: 20px;
  }
  .category .next-attribute {
    display: none;
  }
  .category-f2container {
    width: 320px;
  }
  .category-f2container .image .baby-towel {
    right: -320px;
    width: 200%;
  }
  .category-f2container .image .star {
    right: 95px;
  }
  .category-f2container .image .moon {
    left: -180px;
  }
  .category-f2container .text {
    top: 0;
  }
}

.product {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/product-background.png");
  background-position: top center;
  background-size: contain;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.product-text h3 {
  font-family: "Baloo Bhai 2", curs;
  font-size: 25px;
  font-weight: 700;
  color: #31345C;
  text-transform: capitalize;
}

.product-text a {
  font-size: 14px;
  font-weight: 400;
  color: #31345C;
  text-transform: capitalize;
  margin-right: 10px;
}

.product-text a:hover, .product-text a:focus, .product-text a:active {
  font-family: "Baloo Bhai 2", curs;
  font-weight: 700;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.product-sales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 118px;
}

.product-sales .item {
  width: 356px;
  height: 269px;
  border-radius: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 39px;
}

.product-sales .item:first-child {
  background-color: #C3E2FF;
}

.product-sales .item:nth-child(2) {
  background-color: #FFF5DC;
}

.product-sales .item:last-child {
  background-color: #F0D2D3;
}

.product-sales .stuff {
  display: block;
  position: absolute;
  top: -60px;
  width: 272px;
  height: 189px;
  background: url("../images/lion.png");
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}

.product-sales p {
  position: absolute;
  bottom: 36px;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  padding: 0 50px;
  cursor: pointer;
}

.product .next-attribute {
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product .bar {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.product .bar1 {
  background-color: #75bb1a;
}

.product .bar2 {
  background-color: #959393;
}

@media (max-width: 1184px) {
  .product-sales .item:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .product {
    height: 100%;
  }
  .product-sales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product-sales .item {
    margin-right: 0;
  }
  .product-sales .item:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .product-sales .item {
    margin-bottom: 100px;
  }
  .product .next-attribute {
    display: none;
  }
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 70px;
}

.blog h3 {
  font-family: "Baloo Bhai 2", curs;
  font-size: 25px;
  font-weight: 700;
  color: #31345C;
  text-transform: capitalize;
}

.blog-f1container {
  position: relative;
  width: 1140px;
  height: 422px;
  background: #C3E2FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.blog-f1container .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin-right: 543px;
  padding: 87px 59px 89px 48px;
}

.blog-f1container #date {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #7A80B6;
  text-transform: capitalize;
}

.blog-f1container .text h2 {
  font-family: "Baloo Bhai 2", curs;
  font-size: 27px;
  font-weight: 700;
  color: #31355C;
  text-transform: capitalize;
}

.blog-f1container #button {
  position: relative;
  width: 161px;
  height: 56px;
  background: #E11880;
  border: none;
  border-radius: 5px;
  color: #f5f3ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0 20px;
  overflow: hidden;
}

.blog-f1container #button h5 {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: left;
}

.blog-f1container #button #arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 58px;
  height: 56px;
  background-color: #BB156B;
  position: absolute;
  right: 0;
  color: #fff;
}

.blog-f1container .baby-slider {
  width: 543px;
  height: 422px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.blog-f1container .baby-slides {
  width: 500%;
  height: 422px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-f1container .baby-slides input {
  display: none;
}

.blog-f1container .slide {
  width: 20%;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.blog-f1container .slide img {
  width: 543px;
  height: 422px;
}

.blog-f1container .navigation-manual {
  position: absolute;
  width: 543px;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-f1container .manual-btn {
  border: 2px solid a0a1a1;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.blog-f1container .manual-btn:not(:last-child) {
  margin-right: 10px;
}

.blog-f1container .manual-btn:hover, .blog-f1container .manual-btn:focus, .blog-f1container .manual-btn:active {
  background: #e5eaeb;
}

.blog-f1container #rd1:checked ~ .first {
  margin-left: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.blog-f1container #rd2:checked ~ .first {
  margin-left: -20%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.blog-f1container #rd3:checked ~ .first {
  margin-left: -40%;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.blog-f1container .navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 543px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 383px;
}

.blog-f1container .navigation-auto div {
  border: 2px solid #a0a1a1;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
}

.blog-f1container .navigation-auto div:not(:last-child) {
  margin-right: 10px;
}

.blog-f1container #rd1:checked ~ .navigation-auto .auto-btn1 {
  background: #e5eaeb;
}

.blog-f1container #rd2:checked ~ .navigation-auto .auto-btn2 {
  background: #e5eaeb;
}

.blog-f1container #rd3:checked ~ .navigation-auto .auto-btn3 {
  background: #e5eaeb;
}

.blog-f2container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog-f2container .item {
  display: block;
  width: 358px;
  height: 383px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.blog-f2container .item:first-child {
  background: #FFF5DC;
}

.blog-f2container .item:nth-child(2) {
  background: #FCDCDD;
}

.blog-f2container .item:last-child {
  background: #CFF69D;
}

.blog-f2container .item:not(:last-child) {
  margin-right: 36px;
}

.blog-f2container .sleepingbaby {
  position: absolute;
  top: 0;
  width: 358px;
  height: 274px;
  background: url("../images/blogsleepingbaby.jpg");
}

.blog-f2container .description {
  position: absolute;
  left: 36px;
  bottom: 23px;
}

.blog-f2container .description #date {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  text-transform: capitalize;
}

.blog-f2container .description h5 {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 0;
}

.blog-f2container .item span {
  display: block;
  width: 100%;
  height: 370px;
}

.blog-f2container .item #l1 {
  border-bottom: 2px dashed #dbb960;
}

.blog-f2container .item #l2 {
  border-bottom: 2px dashed #EE7175;
}

.blog-f2container .item #l3 {
  border-bottom: 2px dashed #A3F140;
}

@media (max-width: 1184px) {
  .blog-f1container {
    width: 544px;
    height: 735px;
  }
  .blog-f1container .text {
    top: 54%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    padding: 25px 59px 25px 48px;
  }
  .blog-f2container .item:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .blog-f1container {
    width: 328px;
    height: 781px;
  }
  .blog-f1container .text {
    top: 54%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    padding: 25px 59px 25px 48px;
  }
  .blog-f1container .baby-slider {
    width: 328px;
  }
  .blog-f1container .navigation-auto,
  .blog-f1container .navigation-manual {
    width: 328px;
  }
  .blog-f2container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-f2container .item {
    margin-bottom: 50px;
  }
  .blog-f2container .item:last-child {
    display: block;
  }
  .blog-f2container .item:first-child, .blog-f2container .item:nth-child(2) {
    margin-right: 0;
  }
}

.footer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
}

.footer #dash {
  display: inline-block;
  width: 100%;
  height: 10px;
  border-top: 2px dashed #F3E101;
}

.footer-container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 1fr;
      grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 20px;
}

.footer-container .sec h2 {
  position: relative;
  font-family: "Baloo Bhai 2", curs;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.footer-container .sec h2::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: white;
}

.footer-container .sec #t1 {
  font-size: 14px;
}

.footer-container .sec ul {
  padding-left: 0;
}

.footer-container .email {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container .email p {
  margin: 0;
}

.footer-container .email a {
  font-family: "Baloo Bhai 2", curs;
  font-weight: 700;
}

.footer-container .social {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50px)[4];
      grid-template-columns: repeat(4, 50px);
}

.footer-container .social li {
  list-style: none;
}

.footer-container .social li a {
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: yellow;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-right: 10px;
}

.footer-container .social li .tag1 {
  background: #C3E2FF;
}

.footer-container .social li .tag2 {
  background: #FEF1E2;
}

.footer-container .social li .tag3 {
  background: #FCDCDD;
}

.footer-container .social li .tag4 {
  background: #D0F79D;
}

.footer-container .navigation {
  position: relative;
}

.footer-container .navigation li {
  list-style: none;
}

.footer-container .navigation li a {
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom: 10px;
  display: inline-block;
}

.footer-container .navigation li a:hover {
  color: #503e3e;
}

@media (max-width: 991px) {
  .footer {
    padding: 40px;
  }
  .footer-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .footer-container .email {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px;
  }
  .footer-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */